$colors:(
    primary:#f75311,
    secondary:#374249,
    fontColor:#797979,
    headingColor:#374249,
    buttonHover:#cfd1d3,
    sectionColor:#f3f7f9,
    light:#ffffff
);

$mainFont: 'Roboto', sans-serif;